---
import '@fontsource-variable/inter';
import About from '~/components/about.astro';
import CallToAction from '~/components/call-to-action.astro';
import Classes from '~/components/classes.astro';
import Intro from '~/components/intro.astro';
import Splash from '~/components/splash.astro';
import Starfield from '~/components/starfield.astro';
import '~/styles/index.css';

const { generator, site } = Astro;
// const image = new URL('social.jpg', site);
const description = 'Aprende El Increíble Método Mamá Que Factura';
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Mamá Que Factura</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Mama Que Factura" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={image} /> -->
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="facebook-domain-verification" content="6ka7t2u3jg6z23trqaveqgr7inykz6" />
    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem('theme');

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        document.documentElement.dataset.theme = prefersDark ? 'dark' : 'light';
      }

      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (event) => {
        if (!localStorage.getItem('theme')) {
          document.documentElement.dataset.theme = event.matches ? 'dark' : 'light';
        }
      });
    </script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <!-- <Starfield /> -->
    <Splash />
    <Intro />
    <Classes />
    <About />
  </body>
</html>
<style is:global>
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-up {
    opacity: 0;
    animation: fadeUp 0.5s ease forwards;
  }
</style>
<!-- Meta Pixel Code -->
<noscript
  ><img
    height="1"
    width="1"
    style="display:none"
    src="https://www.facebook.com/tr?id=1129534935130605&ev=PageView&noscript=1"
  /></noscript
>
